fastapi
uvicorn[standard]
pydantic
pandas
openpyxl
numpy
python-dotenv
sqlalchemy
aiofiles
typing-extensions
python-multipart
pytest
pytest-mock
pytest-asyncio
kiteconnect
pytz
jinja2
httptools
h11
watchgod
click
colorama
websockets
schedule
python-dateutil